@media (min-width: 375px) and (orientation: portrait) {
    header {
        .nav ul a {
            font-size: 23px;
        }

        .active {
            right: 60px;
            top: 3%;
        }

        i {
            position: absolute;
            right: 8%;
            top: 5%;
            font-size: 40px;

            &.show {
                display: block;
            }
        }

        .header-text {
            h1 {
                font-size: 60px;
            }

            h2 {
                font-size: 25px;
            }
        }
    }

    .about {

        h2 {
            font-size: 25px;
        }

        p {
            font-size: 19px;
        }

        span {
            padding: 25px 0;
            font-size: 22px;
        }
    }

    .team img.gray {
        left: -100%;
    }

    .gallery-section h2 {
        font-size: 25px;
    }

    .contact {
        h2 {
            font-size: 25px;
        }

        .contact-form-text {
            font-size: 16px;
        }

        .contact-form-btn {
            font-size: 16px;
        }
    }
}

@media (min-width: 414px) and (orientation: portrait) {
    header .active {
        top: 3.5%;
    }

    .team img.gray {
        left: -80%;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    header {
        .nav {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;

            ul {
                display: flex;
                width: 100%;
                list-style: none;

                li {
                    width: 100%;

                    a {
                        // display: block;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }

        i {
            position: fixed;
            right: -50px;
        }

        .header-text {
            h1 {
                font-size: 80px;
            }

            h2 {
                font-size: 30px;
            }
        }
    }

    .about {

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
            padding: 0 15%;
        }

        span {
            font-size: 25px;
            padding: 60px 0;
        }
    }

    .team {
        img.gray {
            left: -55%;
        }

        h3 {
            font-size: 4rem;
        }

        h4 {
            font-size: 2rem;
        }

    }

    .gallery-section {
        padding: 60px 20px;
    }

    .gallery-section h2 {
        font-size: 30px;
    }

    .gallery-section .image {
        flex: 50%;
        padding: 5px;
    }

    .contact {

        h2 {
            font-size: 30px;
        }

        .contact-form-text {
            font-size: 20px;
        }

        .contact-form-btn {
            font-size: 20px;
            padding: 15px 55px;
        }
    }

    footer {
        p {
            font-size: 16px;
        }
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    header {
        .nav {
            ul {
                li {
                    a {

                        font-size: 25px;
                    }
                }
            }
        }
    }

    .header-text {
        h1 {
            font-size: 100px;
        }

        h2 {
            font-size: 35px;
        }
    }


    .about {

        h2 {
            font-size: 40px;
        }

        span {
            font-size: 28px;
        }
    }


    .gallery-section {
        padding: 60px 20px;
    }

    .gallery-section h2 {
        font-size: 40px;
    }

    .gallery-section .image {
        flex: 25%;
        padding: 5px;
    }

    .contact {

        h2 {
            font-size: 40px;
        }

        .contact-form-text {
            font-size: 25px;
        }

        .contact-form-btn {
            font-size: 25px;
            padding: 15px 55px;
        }
    }

    footer {
        p {
            font-size: 16px;
        }
    }

}

@media (min-width: 568px) and (orientation: landscape) {
    header {
        .nav {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;

            ul {
                display: flex;
                width: 100%;
                list-style: none;

                li {
                    width: 100%;

                    a {
                        // display: block;
                        width: 100%;
                        text-align: center;
                        font-size: 15px;
                    }
                }
            }
        }

        i {
            position: fixed;
            right: -50px;
        }

        .header-text {
            h1 {
                font-size: 50px;
            }

            h2 {
                font-size: 20px;
            }
        }
    }

    .about {

        h2 {
            font-size: 25px;
        }

        p {
            font-size: 18px;
        }

        span {
            font-size: 20px;
        }
    }

    .team {

        img.color {
            right: 10%;
            height: 50%;
        }

        img.gray {
            left: -10%;
            height: 110%;
        }

        h3 {
            font-size: 2.5rem;
        }

        h4 {
            font-size: 1.5rem;
        }

    }

    .gallery-section {
        padding: 60px 20px;
    }

    .gallery-section h2 {
        font-size: 25px;
    }

    .gallery-section .image {
        flex: 50%;
        padding: 5px;

    }

    .gallery-section .image img {
        transition: 0.4s;
    }

    .gallery-section .image:hover img {
        transform: scale(1.4) rotate(15deg);
    }

    .contact {

        h2 {
            font-size: 25px;
        }

        .contact-form-text {
            font-size: 15px;
        }

        .contact-form-btn {
            font-size: 18px;
            padding: 15px 55px;
        }
    }

    footer {
        p {
            font-size: 12px;
        }
    }
}

@media (min-width: 812px) and (orientation: landscape) {
    header .nav ul li a {
        font-size: 18px;
    }

    .team {
        img.gray {
            left: 5%;
            height: 110%;
        }
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    header {
        .nav ul li a {

            font-size: 18px;
            transition: 0.2s;

            &:hover {
                font-size: 22px;
            }
        }

        i {
            position: fixed;
            right: -50px;
        }

        .header-text {
            h1 {
                font-size: 70px;
            }

            h2 {
                font-size: 23px;
            }
        }
    }

    .about {

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
            padding: 0 20%;
        }

        span {
            font-size: 22px;
            padding: 60px 0;
        }
    }

    .team {

        img.color {
            right: 5%;
        }

        img.gray {
            left: -10%;
        }

        h3 {
            font-size: 3rem;
        }

        h4 {
            font-size: 2.5rem;
        }

    }

    .gallery-section h2 {
        font-size: 30px;
    }

    .gallery-section .image {
        flex: 25%;
    }

    .contact {

        h2 {
            font-size: 30px;
        }

        .contact-form-text {
            font-size: 15px;
        }

        .contact-form-btn {
            font-size: 18px;
            padding: 15px 55px;
        }
    }

    footer {
        p {
            font-size: 12px;
        }
    }
}